<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-kubernetes-index") %>>
          <a href="/docs/providers/kubernetes/index.html">Kubernetes Provider</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-kubernetes-guide-getting-started") %>>
              <a href="/docs/providers/kubernetes/guides/getting-started.html">Getting Started</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-guide-v2-upgrade") %>>
              <a href="/docs/providers/kubernetes/guides/v2-upgrade-guide.html">v2 Upgrade Guide</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-kubernetes-data-source") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-kubernetes-data-source-all-namespaces") %>>
              <a href="/docs/providers/kubernetes/d/all_namespaces.html">kubernetes_all_namespaces</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-data-source-nodes") %>>
              <a href="/docs/providers/kubernetes/d/nodes.html">kubernetes_nodes</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-data-source-config-map") %>>
              <a href="/docs/providers/kubernetes/d/config_map.html">kubernetes_config_map</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-data-source-ingress") %>>
              <a href="/docs/providers/kubernetes/d/ingress.html">kubernetes_ingress</a>
            <li<%= sidebar_current("docs-kubernetes-data-source-namespace") %>>
              <a href="/docs/providers/kubernetes/d/namespace.html">kubernetes_namespace</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-data-source-secret") %>>
              <a href="/docs/providers/kubernetes/d/secret.html">kubernetes_secret</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-data-source-service-account") %>>
              <a href="/docs/providers/kubernetes/d/service_account.html">kubernetes_service_account</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-data-source-service") %>>
              <a href="/docs/providers/kubernetes/d/service.html">kubernetes_service</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-data-source-storage-class") %>>
              <a href="/docs/providers/kubernetes/d/storage_class.html">kubernetes_storage_class</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-data-source-pod") %>>
              <a href="/docs/providers/kubernetes/d/pod.html">kubernetes_pod</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-data-source-persistent-volume-claim") %>>
              <a href="/docs/providers/kubernetes/d/persistent_volume_claim.html">kubernetes_persistent_volume_claim</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-kubernetes-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-kubernetes-resource-api-service") %>>
              <a href="/docs/providers/kubernetes/r/api_service.html">kubernetes_api_service</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-cluster-role") %>>
              <a href="/docs/providers/kubernetes/r/cluster_role.html">kubernetes_cluster_role</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-certificate-signing-request") %>>
              <a href="/docs/providers/kubernetes/r/certificate_signing_request.html">kubernetes_certificate_signing_request</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-cluster-role-binding") %>>
              <a href="/docs/providers/kubernetes/r/cluster_role_binding.html">kubernetes_cluster_role_binding</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-config-map") %>>
              <a href="/docs/providers/kubernetes/r/config_map.html">kubernetes_config_map</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-cron-job") %>>
              <a href="/docs/providers/kubernetes/r/cron_job.html">kubernetes_cron_job</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-csi-driver") %>>
              <a href="/docs/providers/kubernetes/r/csi_driver.html">kubernetes_csi_driver</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-daemonset") %>>
              <a href="/docs/providers/kubernetes/r/daemonset.html">kubernetes_daemonset</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-deployment") %>>
              <a href="/docs/providers/kubernetes/r/deployment.html">kubernetes_deployment</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-endpoints") %>>
              <a href="/docs/providers/kubernetes/r/endpoints.html">kubernetes_endpoints</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-horizontal-pod-autoscaler") %>>
              <a href="/docs/providers/kubernetes/r/horizontal_pod_autoscaler.html">kubernetes_horizontal_pod_autoscaler</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-ingress") %>>
              <a href="/docs/providers/kubernetes/r/ingress.html">kubernetes_ingress</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-job") %>>
              <a href="/docs/providers/kubernetes/r/job.html">kubernetes_job</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-limit-range") %>>
              <a href="/docs/providers/kubernetes/r/limit_range.html">kubernetes_limit_range</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-namespace") %>>
              <a href="/docs/providers/kubernetes/r/namespace.html">kubernetes_namespace</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-network-policy") %>>
              <a href="/docs/providers/kubernetes/r/network_policy.html">kubernetes_network_policy</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-node-taint") %>>
              <a href="/docs/providers/kubernetes/r/node_taint.html">kubernetes_node_taint</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-persistent-volume-x") %>>
              <a href="/docs/providers/kubernetes/r/persistent_volume.html">kubernetes_persistent_volume</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-persistent-volume-claim") %>>
              <a href="/docs/providers/kubernetes/r/persistent_volume_claim.html">kubernetes_persistent_volume_claim</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-pod") %>>
              <a href="/docs/providers/kubernetes/r/pod.html">kubernetes_pod</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-pod-disruption-budget") %>>
              <a href="/docs/providers/kubernetes/r/pod_disruption_budget.html">kubernetes_pod_disruption_budget</a>
            <li<%= sidebar_current("docs-kubernetes-resource-pod-security-policy") %>>
              <a href="/docs/providers/kubernetes/r/pod_security_policy.html">kubernetes_pod_security_policy</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-priority-class") %>>
              <a href="/docs/providers/kubernetes/r/priority_class.html">kubernetes_priority_class</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-replication-controller") %>>
              <a href="/docs/providers/kubernetes/r/replication_controller.html">kubernetes_replication_controller</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-resource-quota") %>>
              <a href="/docs/providers/kubernetes/r/resource_quota.html">kubernetes_resource_quota</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-role") %>>
              <a href="/docs/providers/kubernetes/r/role.html">kubernetes_role</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-role-binding") %>>
              <a href="/docs/providers/kubernetes/r/role_binding.html">kubernetes_role_binding</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-secret") %>>
              <a href="/docs/providers/kubernetes/r/secret.html">kubernetes_secret</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-service-x") %>>
              <a href="/docs/providers/kubernetes/r/service.html">kubernetes_service</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-service-account") %>>
              <a href="/docs/providers/kubernetes/r/service_account.html">kubernetes_service_account</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-stateful-set") %>>
              <a href="/docs/providers/kubernetes/r/stateful_set.html">kubernetes_stateful_set</a>
            </li>
            <li<%= sidebar_current("docs-kubernetes-resource-storage-class") %>>
              <a href="/docs/providers/kubernetes/r/storage_class.html">kubernetes_storage_class</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
